<div style="display: none" id="tree"></div><!--影藏div用于创建树-->
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>

        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>

        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list" id="sidebar-menu">
    <li data-level="1" v-for="r in resources">

        <a
                href="javascript:void(0);" class="dropdown-toggle"
                :haschild="r.children!=undefined&&r.children.length>0?'true':'false'"
                @click="changeArrow(r)"
        >
            <i class="menu-icon" :class="r.icon" ></i>
            <span class="menu-text"
                  style="vertical-align: middle;"
            > {{r.name}} </span>
            <b class="arrow" :class="r.arrow?'fa fa-angle-up':'fa fa-angle-down'" ></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu nav-hide" v-if="r.children!=undefined&&r.children.length>0">
            <li data-level="2" v-for="child in r.children">

                <a
                        :href="child.url"
                        :id="'menu_'+child.id"
                        :haschild="child.children!=undefined&&child.children.length>0?'true':'false'"
                >
                    <i class="menu-icon fa fa-file-o"></i>
                    <span class="menu-text"
                    > {{child.name}} </span>
                </a>
                <b class="arrow" :class="child.arrow?'fa fa-angle-up':'fa fa-angle-down'"></b>
            </li>
        </ul>
    </li>
</ul><!-- /.nav-list -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
       data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<script>
    let vm = new Vue({
        el:'#sidebar-menu',
        data: {
            resources: []
        },
        methods: {
            getResources: function () {
                // debugger;
                //从sessiionStorge中获取绑定用户字符串，转对象
                let loginUser = localStorage.getItem("loginUser");
                if (loginUser != undefined && loginUser != null) {//防止直接不登录访问其他页面
                    //JSON解析成对象
                    loginUser = JSON.parse(loginUser);
                    this.resources = loginUser.resources;
                    let setting = {
                        data: {
                            simpleData: {
                                enable: true,
                                pIdKey: 'parentId'
                            }
                        }
                    }
                    let treeObj = $.fn.zTree.init($('#tree'),setting,this.resources)
                    this.resources=treeObj.getNodes();
                    for (let i in this.resources) {
                        Vue.set(this.resources[i],'arrow',false);
                    }
                    $.fn.zTree.destroy('tree');
                }
            },

            changeArrow:function (r) {
                r.arrow=!r.arrow;
                // r.name = 'change';  //测试有set处理
            }

        },
        created: function () {
            this.getResources()
        }
    })

</script>
